<div class="invites module-content">
  <h4 class="title">Invited</h4>
  <div class="invites content-container">
      <app-users-list [users]="invitedUsers" class="invited content"></app-users-list>
  </div>
  <form (ngSubmit)="$event.preventDefault()" class="inline-form" [formGroup]="searchForm">
      <div class="input">
        <input type="text" name="username" placeholder="invite a user" autocomplete="off" formControlName="username" required>
      </div>
      <button class="btn" [disabled]="waitingForResponse">
        <app-spinner *ngIf="waitingForResponse"></app-spinner>
        <span *ngIf="!waitingForResponse">Ok</span>
      </button>
    </form>
</div>
