<div class="dashboard">
  <div *ngIf="fetchingEvent">
    <app-spinner class="loading-component"></app-spinner>
  </div>

  <div *ngIf="!fetchingEvent" class="dashboard-content">
    <h1 class="title">{{ event.name }}</h1>
    <div class="modules">
      <app-voting class="module"></app-voting>
      <app-voting class="module"></app-voting>
      <app-voting class="module"></app-voting>
      <app-voting class="module"></app-voting>
      <app-voting class="module"></app-voting>
      <app-voting class="module"></app-voting>
    </div>
  </div>
</div>
