<div class="dashboard">
  <div *ngIf="fetchingEvent || fecthingUser">
    <app-spinner class="loading-component"></app-spinner>
  </div>

  <div *ngIf="!fetchingEvent && !fecthingUser" class="dashboard-content">
    <h1 class="title">{{ event.name }}</h1>
    <div class="modules">
      <app-voting class="module" pollTitle="Place poll" [votingItems]="testVotingItems"
      [nbParticipants]="event.participants.length" [currentUser]="currentUser"
      (toggledVote)="toggleVote($event)">
        <div class="inline-form">
          <div class="input">
            <div class="input-with-icon">
              <fa-icon class="icon" [icon]="faMapMarkerAlt"></fa-icon>
              <input type="text" placeholder="suggest a place" required>
            </div>
          </div>
          <button class="btn">Ok</button>
        </div>
      </app-voting>
    </div>
  </div>
</div>
