@import '../../../styles/colors';
@import '../../../styles/variables';

.dashboard {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .loading-component {
    color: $textColor;
    font-size: 32px;
    text-align: center;
    display: block;
  }

  .dashboard-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .title {
      margin: 20px 50px;
    }

    .modules {
      flex: 1;

      .module {
        padding: 20px 10px 10px 20px;
        background-color: $backgroundColor;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        border-radius: 10px;

        ::ng-deep .title {
          text-align: center;
          margin-bottom: 20px;
        }

        ::ng-deep .inline-form {
          display: flex;
          flex-direction: row;
          align-items: center;

          .input {
            flex: 1;
            padding-right: 10px;
          }
        }
      }
    }

    @media screen and (min-width: $smallScreenSize) {
      .modules.desktop-only {
        box-sizing: border-box;
        padding: 0 0 50px 50px;
        display: grid;
        grid-template:  ". placepoll participantslist placeholder"
        ". datepoll . placeholder";
        grid-template-columns: 380px 380px 275px 10px;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 40px;
        overflow: auto;

        .place-poll {
          grid-area: placepoll;
        }

        .date-poll {
          grid-area: datepoll;
        }

        .participants-list {
          grid-area: participantslist;
        }

        .place-holder {
          grid-area: placeholder;
          width: 100%;
          height: 100%;
        }
      }
    }

    @media screen and (max-width: calc(#{$smallScreenSize} - 1px)) {
      .modules-nav {
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: $greyTextColor;
        background-color: $darkerAppBackgroundColor;

        .nav-item {
          flex: 1;
          text-align: center;
        }
      }
    }
  }
}
