<div class="home">
  <section *ngIf="fetchingEvents" class="container">
    <app-spinner class="loading-component"></app-spinner>
  </section>

  <div *ngIf="!fetchingEvents">
    <section *ngIf="!hasEvents" class="container">
      It appears you don't have any events... <span class="link" (click)="openCreateModal()">Create one now !</span>
    </section>

    <div *ngIf="hasEvents">
      <section class="container" *ngIf="upcomingEvents.length > 0">
        <h2>Upcoming events</h2>
        <div class="events">
          <app-event class="event-wrapper" *ngFor="let event of upcomingEvents" [event]="event"></app-event>
        </div>
      </section>

      <section class="container" *ngIf="pastEvents.length > 0">
        <h2>Past events</h2>
        <div class="events">
          <app-event class="event-wrapper" *ngFor="let event of pastEvents" [event]="event"></app-event>
        </div>
      </section>
    </div>
  </div>

  <div class="fab box-shadow" (click)="openCreateModal()">
    <fa-icon [icon]="faPlus"></fa-icon>
  </div>

  <app-modal title="Create an event" [show]="showCreateModal" (close)="closeCreateModal()">
    <app-event-form></app-event-form>
  </app-modal>
</div>
