$primaryColor: #291F1E;
$primaryContrastColor: #FFF;

$accentColor: #FF6B51; // or #F64740 ?
$accentColorLight: #FF7C66;
$accentColorDark: #F32B21;
$accentContrastColor: #FFF;
$backgroundColor: #FFF;
$appBackgroundColor: #F5F5F5;
$darkerAppBackgroundColor: #E8E8E8;

$textColor: #515151;
$greyTextColor: #919191;
$errorTextColor: #F31010;

$borderColor: #CECECE;
