$primaryColor: #291F1E;
$primaryContrastColor: #FFF;

$accentColor: #FF6B51; // or #F64740 ?
$accentColorLight: #FF7C66;
$accentColorDark: #F32B21;
$accentContrastColor: #FFF;
$backgroundColor: #FFF;

$textColor: #515151;
$greyTextColor: #919191;
$errorTextColor: #F31010;

$borderColor: #CECECE;
