@import 'colors';
@import 'variables';

.form {
  .errors {
    color: $accentContrastColor;
    font-size: $fontSize;
    background-color: $accentColor;
    padding: 15px 20px;
    border-radius: 5px;

    .error {
      margin-top: 5px;
    }
  }
}

.input {
  padding: 10px 0;

  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px 20px;
    margin: 0;
    box-sizing: border-box;
    font-size: $fontSize;
    line-height: $fontSize;
    color: $textColor;
    border: 1px solid $borderColor;
    border-radius: 100px;
    transition: $transitionsDuration;

    &::placeholder {
      color: $greyTextColor;
    }

    &:focus {
      border: 1px solid $accentColorLight;
      outline: none;
    }
  }

  .switch-container {
    display: flex;
    align-items: center;

    .switch {
      $switchWidth: 40px;
      $switchHeight: 24px;
      $sliderSize: calc(#{$switchHeight} - 8px);

      position: relative;
      min-width: $switchWidth;
      height: $switchHeight;
      display: inline-block;
      margin-right: 20px;

      input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
          background-color: $accentColor;
        }

        &:checked + .slider:before {
          transform: translateX(calc(#{$switchWidth} - #{$sliderSize} - 8px));
        }
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $darkerAppBackgroundColor;
        transition: $transitionsDuration;
        border-radius: $switchHeight;

        &:before {
          position: absolute;
          content: "";
          height: $sliderSize;
          width: $sliderSize;
          left: 4px;
          bottom: 4px;
          background-color: $backgroundColor;
          transition: $transitionsDuration;
          border-radius: 50%;
        }
      }
    }

  }

  .input-errors {
    color: $errorTextColor;
    font-size: 14px;

    .input-error {
      margin: 5px 0 0 20px;
    }
  }

  .input-with-icon {
    position: relative;
    .icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      color: $textColor;
      font-size: $fontSize;

      & + input {
        padding-left: 50px;
      }
    }
  }
}
