@import 'colors';
@import 'variables';
@import 'forms';

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: $fontSize;
  letter-spacing: .5px;
  background-color: $appBackgroundColor;
  color: $textColor;
  height: 100%;
  margin: 0;

  a, .link {
    text-decoration: none;
    color: $accentColor;
    transition: color $transitionsDuration;
    cursor: pointer;

    &:hover {
      color: $accentColorDark;
    }
  }

  .btn {
    margin: 10px 0;
    border: 2px solid transparent;
    border-radius: 100px;
    color: $accentContrastColor;
    background-color: $accentColorLight;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $fontSize;
    cursor: pointer;
    transition: $transitionsDuration;

    &:hover {
      background-color: $accentColor;
    }

    &.btn-clear {
      border: 2px solid $accentColorLight;
      background-color: transparent;
      color: $textColor;

      &:hover {
        background-color: $accentColorLight;
        color: $accentContrastColor;
      }
    }

    &:disabled {
      background-color: $borderColor;
      color: $textColor;

      &:hover {
        background-color: $borderColor;
      }
    }
  }

  .fab {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: $fab-size;
    height: $fab-size;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    color: white;
    background-color: $accentColor;
    border-radius: 50%;
    z-index: 10;

    cursor: pointer;
    transition: background-color $transitionsDuration;

    &:hover {
      background-color: $accentColorDark;
    }
  }

  .box-shadow {
    box-shadow: $lightBoxShadow;
  }

  .container {
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%;

    @media (min-width: $smallScreenSize) {
      width: 750px;
    }
    @media (min-width: $mediumScreenSize) {
      width: 970px;
    }
    @media (min-width: $largeScreenSize) {
      width: 1170px;
    }
  }

  h1, h2, h3, h4 {
    margin: 0;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
    font-weight: normal;
  }
}
