$smallScreenSize: 768px;
$mediumScreenSize: 992px;
$largeScreenSize: 1200px;

$transitionsDuration: .3s;
$fontSize: 16px;
$navbarHeight: 50px;

$lightBoxShadow: 2px 2px 5px rgba(0, 0, 0, .1);

$fab-size: 55px;
