<div class="voting module-content">
  <h4 class="title">{{pollTitle}}</h4>
  <div class="voting-items-container content-container">
    <div class="voting-items content" #votingItemsScrollable>
      <app-voting-item *ngFor="let votingItem of votingItems" [nbParticipants]="nbParticipants" 
                       [currentUser]="currentUser" [isAdmin]="isAdmin" [itemType]="itemType"
                       [votingItem]="votingItem" (changedVote)="changeVote($event, votingItem.id)"
                       (choseItem)="chooseItem(votingItem.id)"></app-voting-item>
    </div>
  </div>
  <div class="form">
    <ng-content></ng-content>
  </div>
</div>
