
<div class="login">
  <div class="login-card">
    <h1>Log in</h1>
    <form (ngSubmit)="submitForm()" class="form" [formGroup]="userInfos">
      <div class="input">
        <input type="text" placeholder="email" formControlName="email" required>
      </div>
      <div class="input">
        <input type="password" placeholder="password" formControlName="password" required>
      </div>
      <div class="actions">
        <a routerLink="/register">Create an account</a>
        <button class="btn submit-button">Submit</button>
      </div>
    </form>
  </div>
</div>
