@import '../../../styles/colors';

.form {
  display: flex;
  flex-direction: column;

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
