@import '../../styles/variables';
@import '../../styles/colors';

.navbar {
  height: 100%;
  width: 100%;
  background-color: $accentColor;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-item {
    padding: 0 15px;
    height: $navbarHeight;
    display: flex;
    align-items: center;
  }

  a {
    color: $accentContrastColor;
    transition: background-color $transitionsDuration;

    &:hover {
      background-color: $accentColorLight;
    }
  }

  .logo {
    font-size: 24px;
  }

  .user-avatar-container {

    .user-avatar {
      background-color: $accentContrastColor;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      padding: 2px;
      cursor: pointer;
    }
  }
}
