.participants-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  .participants-wrapper {
    flex: 1;
    position: relative;

    .participants {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
    }
  }
}
