<div class="chat module-content">
  <h4 class="title">Discussion</h4>

  <div class="messages-container content-container">
    <div class="messages content" #messagesScrollable>
      <app-message *ngFor="let message of messages" [message]="message" 
        [isCreator]="message.creator.id === currentUser.id"></app-message>
    </div>
  </div>
  
  <form (ngSubmit)="sendMessage()" class="inline-form">
    <div class="input">
      <input type="text" [(ngModel)]="formMessage.message" name="message" placeholder="type a message..." autocomplete="off" required>
    </div>
    <button class="btn">Send</button>
  </form>
</div>
