<div class="chat">
  <h4 class="title">Discussion</h4>

  <div class="messages-container">
    <div class="messages">
      <app-message *ngFor="let message of messages" [message]="message" 
        [isCreator]="message.creator.id === currentUser.id"></app-message>
    </div>
  </div>
  
  <form (ngSubmit)="sendMessage()" class="inline-form">
    <div class="input">
      <div class="input">
        <input type="text" [(ngModel)]="formMessage.message" name="message" placeholder="type a message..." required>
      </div>
    </div>
    <button class="btn">Send</button>
  </form>
</div>
