@import '../../styles/colors';

.login {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-card {
    background-color: $backgroundColor;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-width: 85%;
    margin: 30px 0;
  }
}
