<div class="date-poll">

  <app-voting *ngIf="event.chosen_date === undefined"
              pollTitle="Date poll" [votingItems]="datePollVotingItems"
              [nbParticipants]="event.participants.length" [currentUser]="currentUser"
              (changedVote)="changeVote($event)">
    <form (ngSubmit)="createDate()" class="inline-form">
      <div class="input">
        <div class="input-with-icon">
          <fa-icon class="icon" [icon]="faCalendarAlt"></fa-icon>
          <input type="text" [(ngModel)]="date" name="date" placeholder="suggest a date"
                 [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" required>
          <owl-date-time stepMinute="5" [startAt]="startAt" #dt1></owl-date-time>
        </div>
      </div>
      <button class="btn" [disabled]="waitingForResponse">
        <app-spinner *ngIf="waitingForResponse"></app-spinner>
        <span *ngIf="!waitingForResponse">Ok</span>
      </button>
    </form>
  </app-voting>

  <div class="chosen-date" *ngIf="event.chosen_date !== undefined">
    <fa-icon [icon]="faCalendarAlt" class="icon"></fa-icon>
    <div class="date">{{ event.chosen_date.date | date: 'LLL dd yyyy, HH:mm' }}</div>
  </div>

</div>
