@import '../../../../styles/colors';

.date-poll {
  height: 100%;

  .chosen-date-container {
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .chosen-date {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      text-align: center;
  
      .icon {
        margin-right: 10px;
        color: $accentColor;
      }
    }

    .actions {
      margin-top: 10px;
    }
  }
}

