<app-voting pollTitle="Place poll" [votingItems]="placePollVotingItems"
            [nbParticipants]="event.participants.length" [currentUser]="currentUser"
            (changedVote)="changeVote($event)">
  <form (ngSubmit)="createPlace()" class="inline-form">
    <div class="input">
      <div class="input-with-icon">
        <fa-icon class="icon" [icon]="faMapMarkerAlt"></fa-icon>
        <input type="text" [(ngModel)]="placeName" name="place_name" placeholder="suggest a place" required>
      </div>
    </div>
    <button class="btn" [disabled]="waitingForResponse">
      <app-spinner *ngIf="waitingForResponse"></app-spinner>
      <span *ngIf="!waitingForResponse">Ok</span>
    </button>
  </form>
</app-voting>
