<div class="event">
  <h3 class="name event-title">
    <a [routerLink]="'events/' + event.event_hash">{{ event.name }}</a>
  </h3>
  <div class="date event-info">
    <span *ngIf="event.chosen_date && differentYear">
      {{ event.chosen_date.date | date: 'LLL dd yyyy, HH:mm' }}
    </span>
    <span *ngIf="event.chosen_date && !differentYear">
      {{ event.chosen_date.date | date: 'LLL dd, HH:mm' }}
    </span>
    <span *ngIf="!event.chosen_date">
      Date TBD
    </span>
  </div>
  <div class="place event-info">
    <span *ngIf="event.chosen_place">
      {{ event.chosen_place.name }}
    </span>
    <span *ngIf="!event.chosen_place">
      Place TBD
    </span>
  </div>
  <div class="participants event-info">
    <app-users-logos [users]="event.participants" [maxAvatars]="2"></app-users-logos>
  </div>
</div>
