@import '../../../styles/colors';
@import '../../../styles/variables';

.event {
  background-color: $appBackgroundColor;
  margin: 15px 30px 15px 0;
  width: 330px;
  padding: 20px 35px;
  box-sizing: border-box;
  border-radius: 10px;
  transition: background-color $transitionsDuration;

  @media (max-width: $smallScreenSize) {
    margin-right: 0;
    width: 100%;
  }

  &:hover {
    background-color: $darkerAppBackgroundColor;
  }
  
  .event-info {
    margin-top: 15px;
  }
}
