@import '../../styles/colors';
@import '../../styles/variables';

.spinner-container {
  display: inline-block;
  width: $fontSize;
  height: $fontSize;
  animation: 1.7s spin ease-in-out infinite;

  .spinner {
    width: $fontSize;
    height: $fontSize;
    font-size: $fontSize;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(380deg);
  }
  85%, to {
    transform: rotate(360deg);
  }
}
