@import '../../styles/colors';
@import '../../styles/variables';

.spinner-container {
  display: inline-block;
  animation: 1.7s spin ease-in-out infinite;

    .spinner {
      ::ng-deep svg {
        display: block;
      }
    }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(380deg);
  }
  85%, to {
    transform: rotate(360deg);
  }
}
